div{
    height: 370px;
    width: 23%;
    background-color: rgb(24, 23, 22);
    margin-left:200px ;
}
button{
    height: 50px;
    width: 70px;
   background-color: white;
   margin-left: 5px;
}
input{
    width: 300px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 10px;
}
#two{
    width: 147px; 
}


  /* 
  margin-left: 5px;
 */